@*@model IEnumerable<ActivityCodesV2.Models.Transaction>*@
@model ActivityCodesV2.Models.Transaction


@{
    ViewBag.Title = "Index";
}
<style type="text/css"></style>
<div class="contentDDL">
    @*<div class="signatureLabel">
        <h5>Activity Codes</h5><small>v2.0</small>
    </div>*@
    <div class="productosDDLDiv">
        <h4>Productos</h4>
        @Html.DropDownList("productsDDL", (IEnumerable<SelectListItem>)ViewBag.Products, "-Seleccione un Producto-", new {@class="dropdown"})
    </div>
    <div class="transactionsDDL">
        <h4>Transacciones</h4>
        @Html.DropDownList("Code", Enumerable.Empty<SelectListItem>())
    </div>
    @*<button id="btnSubmit" class="btn btn-default" type="button">Guardar</button>*@
    <button id="btnFinish" class="btn btn-success" type="button">Guardar</button>
    <div class="clear"></div>
    <div id="labelsDiv">
        <div id="labelName" class="label label-default">
            Hola <strong>@User.Identity.Name</strong>!
        </div>
        <div id="msgSuccess" class="label label-success">
            ActivityCode Registrado!
        </div>  
    </div>

</div>




